/*fonts */
@font-face {
  font-family: 'Avenida Std';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Avenida-Std-Regular.woff');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* Header */

.header {
  padding-left: 60px !important;
  padding-right: 60px !important;
  position: absolute;
}
.header-wrapper {
  height: 72px;
}
.header-logo-wrapper {
  padding-top: 20px;
  cursor: pointer;
}
.header-profile-logo-wrapper {
  padding-top: 44px;
  cursor: pointer;
}
.heaader-burger {
  cursor: pointer;
  margin-left: 30px;
  padding-top: 45px;
}
.heaader-burger img {
  margin-bottom: 7px;
}

/* Service */

.services-title-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.services-title {
  font-family: 'Avenida Std', serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 64px;
  letter-spacing: 0.08em;
  color: #000000;
  width: 466px;
  margin: 0 auto;
  padding-bottom: 10px;
  border-bottom: 1px solid #edc536;
}
.services_content {
  display: flex;
  flex-direction: column;
}

.inner_content {
  width: 100%;
  padding: 120px 78px 80px;
}

.inner-image {
  position: relative;
}
.serv_bg1 {
  position: absolute;
  left: -3%;
  top: 12%;
  z-index: -1;
}
.serv_bg2 {
  position: absolute;
  right: -2%;
  top: 12%;
  z-index: -1;
}

.inner-text {
  display: flex;
  height: 495px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.inner-text p {
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  margin-bottom: 30px;
}
.services_button {
  width: 200px;
  padding: 20px;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  border: 2px solid #edc536;
  cursor: pointer;
}
.services_button:hover {
  text-decoration: none;
  color: #000000;
}

/* Footer */

.footer-wrapper {
  background: #ffffff;
}

.footer-line {
  width: 100%;
  height: 0px;
  border: 1px solid #edc536;
}

.footer-links-wrapper {
  width: 100%;
  height: 28px;
  margin-top: 60px;
  margin-bottom: 30px;
}
.footer-links-wrapper ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-links-wrapper ul li {
  display: inline-block;
  list-style: none;
}

.footer-links-wrapper ul li .footer-link {
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #000000;
  text-decoration: none;
}

.footer-links-wrapper ul li .footer-link:hover {
  text-decoration: none;
}
.flex-contatiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 311px;
  margin-bottom: 30px;
}
.footer-social-icons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer-icon {
  width: 42.41px;
  height: 43px;
  margin-bottom: 30px;
  margin-right: 7.7px;
}

.footer-contacts {
  width: 571px;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-align: center;
  margin: 0 auto;
}
.footer-address {
  margin-bottom: 10px;
}

.footer-line2 {
  width: 571px;
  height: 0px;
  margin: 30px auto;
  border: 1px solid #edc536;
}

.footer-privacy {
  width: 571px;
  text-align: center;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-decoration-line: underline;
  color: #edc536;
}

.footer-innovities {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.13em;
  color: #edc536;
}
.copyright {
  color: #000000;
}
.footer-copyright {
  font-family: 'Avenida Std', serif;
}
.footer-span {
  color: #000000;
  font-family: 'Avenida Std', serif;
}

/* Footer */

/* Main component styles */

.main {
  padding-top: 120px;
  background-image: url(../images/main-bg.jpg);
  background-position: top right;
  background-repeat: no-repeat;
  margin-bottom: 60px;
}
.left-side {
  position: relative;
}

.main_left-side {
  width: 100%;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  text-align: center;
}

.main_left-side h1 {
  font-family: 'Avenida Std', serif;
  color: #edc536;
  font-size: 48px;
  line-height: 28px;
  letter-spacing: 0.08em;
  margin-bottom: 30px;
}
.main_content {
  font-size: 24px;
  line-height: 38px;
  text-align: center;
  margin-bottom: 50px;
}
.main_button {
  padding: 20px;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: black;
  border: 2px solid #edc536;
}
.main_left-side a:hover {
  text-decoration: none;
  color: white;
  background-color: #edc536;
  transition: all 0.5s;
}

.main_right-side {
  position: relative;
  height: 706px;
}
.main_img-1 {
  position: absolute;
  left: -4%;
  top: -3%;
}
.main_img-2 {
  position: absolute;
  top: 45%;
  left: 10%;
}
.main_line {
  position: absolute;
  bottom: 0;
  left: -0.5%;
}

/* ======= */

/* Main component end */

/* Info component styles */

.info {
  /* <<<<<<< HEAD */
  padding-top: 120px;
  background-image: url(../images/info_bg.png);
  background-position: top right;
  background-repeat: no-repeat;
}

.image_content {
  width: 100%;
  position: relative;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 140px;
}

.inner-title {
  font-family: 'Avenida Std', serif;
  font-weight: normal;
  font-size: 48px;
  line-height: 28px;
  letter-spacing: 0.08em;
  color: #000000;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.info_description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.info_description-title {
  font-family: 'Avenida Std', serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 64px;
  letter-spacing: 0.08em;
  color: #000000;
  width: 466px;
  margin: 0 auto;
  padding-bottom: 10px;
  border-bottom: 1px solid #edc536;
}

.info_description-text {
  padding: 30px 75px 120px;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #000000;
}

/* Pricing page start */
.pricing-header-wrapper {
  position: relative;
  z-index: 100;
}
.pricing-rectangle {
  position: absolute;
  width: 506px;
  height: 682px;
  left: 0px;
  top: 125px;
  background: #edc536;
}
.pricing-rectangle2 {
  position: absolute;
  width: 506px;
  height: 681px;
  right: 0px;
  z-index: 1;
  background: #edc536;
}

.pricing-image-wrapper {
  position: absolute;
  width: 1319px;
  height: 557px;
  /* left: 60px; */
  margin-left: 60px;
  top: 125px;
  z-index: 10;
}

.pricing-image-title {
  font-family: Avenida Std;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.08em;
  white-space: nowrap;
  color: #000000;
}
.pricing-image-title-wrapper {
  position: relative;
  height: 28px;
  top: 290px;
  left: -43%;
  z-index: 150;
  text-align: center;
}

.pricing-idea-wrapper {
  /* width: 294px;
  height: 21px; */
  position: absolute;
  top: 345px;
  text-align: center;
}

.pricing-idea-text {
  font-family: Avenida Std;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 21px;
  letter-spacing: 0.08em;

  color: #000000;
}

.pricing-idea-line {
  width: 550px;
  height: 0px;
  margin-top: 30px;
  border: 1px solid #edc536;
}

.pricing-center-rectangle {
  position: absolute;
  width: 308px;
  height: 492px;
  margin: 100px auto;
  top: 435px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.pricing-free {
  position: absolute;
  width: 36px;
  height: 14px;
  left: 146px;
  top: 60px;
  font-family: Avenida Std;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 14px;
  letter-spacing: 0.08em;

  color: #000000;
}
.pricing-center-free-line {
  position: relative;
  top: 85px;
  left: 95px;
  width: 131px;
  height: 0px;
  margin-bottom: 100px;
  /* left: 98px; */
  border: 1px solid #edc536;
  background: url(../images/free-Line.png);
}

.pricing-list-item {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  list-style: none;
  color: #000000;
  margin: 30px;
}
.pricing-list-wrapper {
  margin-top: 168px;
}
.pricing-price {
  display: flex;
  margin-left: 126px;
}
.pricing-price-usd {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
.pricing-price-num {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;

  color: #000000;
}
.pricing-subscribe-btn {
  background: #edc536;
  width: 137px;
  height: 50px;
  margin: 100px auto;
}
.pricing-btn-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}
.pricing-btn-text:hover {
  text-decoration: none;
  color: #ffffff;
}

.pricing-organization-wrapper {
  position: absolute;
  width: 283px;
  height: 21px;
  top: 1200px;
  margin: 120px auto;
  text-align: center;
}

.pricing-organization-title {
  font-family: Avenida Std;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.08em;
  margin: 0 auto;

  color: #000000;
}

.pricing-org-line {
  position: absolute;
  top: 1360px;
  width: 550px;
  height: 0px;
  border: 1px solid #edc536;
  background: url(../images/pricing-line.png);
}

.pricing-org-rectangle {
  width: 308px;
  /* height: 492px; */
  position: relative;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.pricing-org-free-title {
  width: 36px;
  height: 14px;
  position: relative;
  top: 60px;
  left: 136px;
  /* margin-top: 60px; */
  font-family: Avenida Std;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 14px;
  letter-spacing: 0.08em;

  color: #000000;
}
.pricing-org-free-line {
  width: 131px;
  height: 0px;
  position: relative;
  top: 67px;
  left: 89px;
  border: 1px solid #edc536;
  background: url(../images/free-Line.png);
}
.pricing-org-rect-wrapper {
  position: absolute;
  display: flex;
  top: 1460px;
  margin-bottom: 200px;
}
.pricing-org-list-wrapper {
  position: relative;
  width: 248px;
  /* border: 1px solid red; */
  top: 138px;
  left: 30px;
}
.pricing-org-list-item {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  list-style: none;
  color: #000000;
  margin: 30px;
  list-style-type: none;
}

.pricing-price-org {
  width: 56px;
  height: 42px;
  display: flex;
  margin-top: 191px;
  position: relative;
  /* top: 151px; */
  left: 126px;
  margin-bottom: 74px;
}

.pricing-org-subscribe-btn {
  width: 137px;
  height: 50px;
  background: #edc536;
  position: relative;
  top: 25px;
  left: 85px;
  text-align: center;
}
.pricing-price-usd-org {
  font-size: 18px;
  line-height: 21px;
}
.pricing-price-num-org {
  font-size: 36px;
  line-height: 42px;
}
.pricing-org-btn-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 50px;
  /* text-align: center; */
  text-transform: uppercase;
  color: #ffffff;
}

.pricing-org-btn-text:hover {
  text-decoration: none;
  color: #ffffff;
}

.pricing-image {
  position: absolute;
  width: 1319px;
  height: 557px;
  left: 60px;
  top: 125px;
}

.pricing-footer-wrapper {
  position: relative;
  top: 2200px;
}

/* Pricing Page end */

/* Get in touch component styles */
.in_touch {
  position: relative;
}
.about_line {
  position: absolute;
  top: -4%;
  left: 0;
}
.in_touch_img {
  width: 100%;
  padding-top: 60px;
}

.get_in_touch-title {
  font-family: 'Avenida Std', serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 64px;
  letter-spacing: 0.15em;
  color: #000000;
  width: 100%;
  position: absolute;
  top: 58%;
  transform: translateY(-50%);
  text-align: center;
  z-index: 5;
}
.in_touch-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.in_touch_box {
  position: relative;
  height: 585px;
}
.in_touch_div {
  position: absolute;
  bottom: 22%;
  left: 1.5%;
  z-index: 1;
  text-align: right;
}
.get_in_touch-text {
  padding-top: 150px;
}
.get_in_touch-text p {
  font-weight: normal;
  font-size: 24px;
  line-height: 54px;
  color: #000000;
  margin-left: 30px;
}

.get_in_touch-text a {
  color: #000000;
  text-decoration: none;
}
.get_in_touch-text a:hover {
  color: #000000;
  text-decoration: none;
}
.get_in_touch-text button {
  margin: 30px 0 0 30px;
  width: 240px;
  border: 2px solid #edc536;
  background-color: #ffffff;
  cursor: pointer;
}

.get_in_touch-button {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  padding: 20px;
}

/* Get in touch component end */

/*Start component Partners*/
.partners {
  margin-top: 120px;
}
.new-partners h1 {
  font-family: 'Avenida Std', serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 64px;
  letter-spacing: 0.08em;
  color: #000000;
  width: 466px;
  margin: 0 auto;
  padding-bottom: 10px;
  border-bottom: 1px solid #edc536;
}
.partner {
  width: 277px;
  max-width: 100%;
  overflow: hidden;
  height: 126px;
  margin: 0px 60px 120px;
}

/*End component Partners*/

/* User Profile main part */

.user-image-recatngle {
  position: relative;
  width: 230px;
  height: 230px;
  background: #edc536;
  margin-top: 120px;
  z-index: 1;
}

.user-image-wrapper {
  position: relative;
  z-index: 10;
  margin-top: -170px;
  margin-left: 60px;
}

.user-informText-wrapper {
  margin-top: 212px;
  margin-left: 51px;
}

.send-message-btn {
  width: 240px;
  height: 61px;
  border: 2px solid #edc536;
  text-align: center;
  cursor: pointer;
}

.send-message-btn:hover {
  background: #edc536;
}

.send-message-btn a {
  font-size: 18px;
  line-height: 61px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.send-message-btn a:hover {
  text-decoration: none;
  color: #ffffff;
}

.dots-wrapper {
  width: 61px;
  height: 61px;
  background: #edc536;
  margin-left: 30px;
  color: #ffffff;
  text-align: center;
  font-size: 30px;
  border: none;
  cursor: pointer;
}

.polygon {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #f0f7fa;

  margin-left: 282px;
}
.dotSittings-rect {
  width: 247px;
  height: 82px;
  background: #ffffff;
  padding: 20px 15px 20px 15px;
  margin-left: 267px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.sitting-text {
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-left: 10px;
}

.sitting-text:hover {
  text-decoration: none;
  color: #000000;
}
/*End User Profile main part */

/* Organization Profile Start */
.org_profile {
  padding: 0 374px;
}
.org_profile_img {
  position: relative;
  z-index: 10;
  margin-top: 40px;
  margin-left: 50px;
}
.organization_info-wrapper {
  margin-left: 120px;
  padding-top: 170px;
}

.organization_name {
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.05em;
  color: #000000;
  padding-right: 60px;
}
.organization-add_info {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.followers {
  padding-right: 30px;
  margin-bottom: 10px;
}


/* Organization Profile End */

/* Organization profile actions start */
.org-btnsTitle-wrapper{
  font-family: Avenida Std;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  margin-top: 120px;
}

.links-wrapper{

}

/* .write-feedback-btn-wrapper{
  width: 240px;
  height: 61px;
  border: 2px solid #EDC536;
  box-sizing: border-box;
  margin-top: 60px;
} */

.write-feedback-btn-wrapper, .give-idea-btn-wrapper{
  width: 240px;
  height: 61px;
  border: 2px solid #EDC536;
  box-sizing: border-box;
  margin-top: 60px;
  text-align: center;
  transition: all ease-in-out 0.5s;
}
.write-feedback-btn-wrapper:hover{
  background: #EDC536;
  
  
}
.give-idea-btn-wrapper:hover{
  background: #EDC536;
}

.or-wrapper{
font-size: 18px;
line-height: 21px;
text-align: center;
text-transform: lowercase;
margin-top: 80px;
margin-left: 30px;
margin-right: 30px;
}

.feedback-link, .idea-link{
  font-size: 18px;
  line-height: 61px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  
}

.feedback-link:hover{
  text-decoration: none;
  color: #000000;

}
.idea-link:hover{
  text-decoration: none;
  color: #000000;
}



/* Organization profile actions end *