/*fonts */
@font-face {
  font-family: "Avenida Std";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Avenida-Std-Regular.woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Roboto", sans-serif;
}

.local_err_msg {
  display: block;
  color: aqua;
  font-style: italic;
  margin-top: 0.5em;
}

.local_err_msg_centered {
  display: block;
  color: aqua;
  font-style: italic;
  margin-top: 0.5em;
  text-align: center;
}

/* Header */

.header {
  /* padding-left: 60px !important;
  padding-right: 60px !important; */
  position: absolute;
  width: 1440px;
  height: 706px;
  z-index: 1000;
}
.header-wrapper {
  height: 72px;
  margin-right: 86px;
}
.header-logo-wrapper {
  padding-top: 20px;
  cursor: pointer;
  margin-left: 50px;
}
.header-menu {
  margin: 0;
}
.header-profile-logo-wrapper {
  padding-top: 50px;
  cursor: pointer;
}
.header-burger {
  cursor: pointer;
  margin-left: 30px;
  padding-top: 38px;
}
.header-menu-btn {
  display: block;
  color: #000000;
  position: absolute;
  width: 50px;
  height: 50px;
  font-size: 0;
  background: none;
  border: none;
  cursor: pointer;
}
.header-menu-btn:focus {
  outline: none;
}
.header-menu-btn span,
.header-menu-btn span::before,
.header-menu-btn span::after {
  display: block;
  position: absolute;
  width: 40px;
  height: 3px;
  background-color: #000000;
}
.header-menu-btn span::before,
.header-menu-btn span::after {
  content: "";
  position: absolute;
  display: block;
  transition: 0.3s;
}
.header-menu-btn span::before {
  transform: translateY(-8px);
}
.header-menu-btn span::after {
  transform: translateY(8px);
}

.is-active span {
  height: 0;
}
.is-active span:before {
  transform: rotate(-40deg);
}
.is-active span:after {
  transform: rotate(40deg);
}

/* Header END */
/* Service */

.services-title-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.services-title {
  font-family: "Avenida Std", serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 64px;
  letter-spacing: 0.08em;
  color: #000000;
  width: 466px;
  margin: 0 auto;
  padding-bottom: 10px;
  border-bottom: 1px solid #edc536;
}
.services_content {
  display: flex;
  flex-direction: column;
}

.inner_content {
  width: 100%;
  padding: 120px 78px 80px;
}

.inner-image {
  position: relative;
}
.serv_bg1 {
  position: absolute;
  left: -3%;
  top: 12%;
  z-index: -1;
}
.serv_bg2 {
  position: absolute;
  right: -2%;
  top: 12%;
  z-index: -1;
}

.inner-text {
  display: flex;
  height: 495px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.inner-text p {
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  margin-bottom: 30px;
}
.services_button {
  width: 200px;
  padding: 20px;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  border: 2px solid #edc536;
  cursor: pointer;
}
.services_button:hover {
  text-decoration: none;
  color: #000000;
}

/* Footer */

.footer-wrapper {
  background: #ffffff;
}

.footer-line {
  width: 100%;
  height: 0px;
  border: 1px solid #edc536;
}

.footer-links-wrapper {
  /* width: 100%; */
  height: 28px;
  margin-top: 60px;
  margin-bottom: 30px;
  text-align: center;
}
.footer-links-wrapper ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.footer-links-wrapper ul li {
  display: inline-block;
  list-style: none;
}

.footer-links-wrapper ul li .footer-link {
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #000000;
  text-decoration: none;
}

.footer-links-wrapper ul li .footer-link:hover {
  text-decoration: none;
}
.flex-contatiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 311px;
  margin-bottom: 30px;
}
.footer-social-icons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer-icon {
  width: 42.41px;
  height: 43px;
  margin-bottom: 30px;
  margin-right: 7.7px;
}

.footer-contacts {
  /* width: 571px; */
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-align: center;
  margin: 0 auto;
}
.footer-address {
  margin-bottom: 10px;
}

.footer-line2 {
  width: 571px;
  height: 0px;
  margin: 30px auto;
  border: 1px solid #edc536;
}

.footer-privacy {
  /* width: 571px; */
  text-align: center;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-decoration-line: underline;
  color: #edc536;
}

.footer-innovities {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.13em;
  color: #edc536;
}
.copyright {
  color: #000000;
}
.footer-copyright {
  font-family: "Avenida Std", serif;
}
.footer-span {
  color: #000000;
  font-family: "Avenida Std", serif;
}

/* Footer */

/* Main component styles */

.main {
  padding-top: 120px;
  background-image: url(../images/main-bg.jpg);
  background-position: top right;
  background-repeat: no-repeat;
  margin-bottom: 60px;
}
.left-side {
  position: relative;
}

.main_left-side {
  width: 100%;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  text-align: center;
}

.main_left-side h1 {
  font-family: "Avenida Std", serif;
  color: #edc536;
  font-size: 48px;
  line-height: 28px;
  letter-spacing: 0.08em;
  margin-bottom: 30px;
}
.main_content {
  font-size: 24px;
  line-height: 38px;
  text-align: center;
  margin-bottom: 50px;
}
.main_button {
  padding: 20px;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: black;
  border: 2px solid #edc536;
}
.main_left-side a:hover {
  text-decoration: none;
  color: white;
  background-color: #edc536;
  transition: all 0.5s;
}

.main_right-side {
  position: relative;
  height: 706px;
}
.main_img-1 {
  position: absolute;
  left: -4%;
  top: -3%;
}
.main_img-2 {
  position: absolute;
  top: 45%;
  left: 10%;
}
.main_line {
  position: absolute;
  bottom: 0;
  left: -0.5%;
}

/* ======= */

/* Main component end */

/* Info component styles */

.info {
  padding-top: 120px;
  background-image: url(../images/info_bg.png);
  background-position: top right;
  background-size: 40%;
  background-repeat: no-repeat;
}

.image_content {
  position: relative;
  margin: 0 auto;
  margin-left: 60px;
  margin-right: 60px;
  text-align: center;
  margin-bottom: 140px;
}
.image_content img {
  width: 100%;
}

.inner-title {
  font-family: "Avenida Std", serif;
  font-weight: normal;
  font-size: 48px;
  line-height: 28px;
  letter-spacing: 0.08em;
  color: #000000;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.info_description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.info_description-title {
  font-family: "Avenida Std", serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 64px;
  letter-spacing: 0.08em;
  color: #000000;
  width: 466px;
  margin: 0 auto;
  padding-bottom: 10px;
  border-bottom: 1px solid #edc536;
}

.info_description-text {
  padding: 30px 75px 120px;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #000000;
}

/* Pricing page start */
.pricing-rectangle {
  background-image: url(../images/pricing_rectangle.png);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 35.4%;
  /* padding: 0!important; */
}
.image_content_pricing {
  position: relative;
  margin: 0 auto;
  margin-top: 126px;
  margin-bottom: 240px;
  text-align: center;
}
.image_content_pricing .image_content-prc {
  width: 94%;

}
.pricing-bg {
    position: absolute;
    left: -8%;
    top: 0;
    z-index: -10;
    width: 38%!important;
    
}
.pricing-idea-wrapper,
.pricing-org-wrapper {
  text-align: center;
}
.pricing-idea-text {
  width: 550px;
  font-family: "Avenida Std", serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 21px;
  letter-spacing: 0.08em;
  color: #000000;
  margin: 0 auto;
  padding-bottom: 30px;
  border-bottom: 1px solid #edc536;
}
.org-wrapper {
  display: flex;
  justify-content: space-around;
}
.pricing-center-rectangle {
  width: 308px;
  height: 492px;
  margin: 0 auto;
  margin-top: 60px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(70, 36, 36, 0.2);
}
.pricing-free {
  font-family: Avenida Std;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: #000000;
  padding: 60px 0 10px;
  margin: 0 auto;
  text-align: center;
  width: 131px;
  border-bottom: 1px solid #edc536;
}
.pricing-list-item {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  list-style: none;
  color: #000000;
  margin-bottom: 30px;
}
.pricing-list-item > img {
  margin-right: 10px;
}
.pricing-list-wrapper {
  margin-top: 84px;
}
.pricing-price {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  position: relative;
}
.pricing-price-usd {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
.pricing-price-num {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  position: absolute;
  top: -6px;
  right: 32%;
}
.pricing-subscribe-btn {
  background: #edc536;
  width: 137px;
  height: 50px;
  margin: 0 auto;
  margin-top: 91px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pricing-btn-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.pricing-subscribe-btn:hover {
  background-color: #ffffff;
  border: 1px solid #000000;
  transition: all .3s;
}
.pricing-subscribe-btn:hover .pricing-btn-text {
  text-decoration: none;
  color: #000000;
}
.for_ideas, .for_org {
  margin-bottom: 120px;
}
/* Pricing Page end */

/* Get in touch component styles */
.in_touch {
  position: relative;
}
.about_line {
  position: absolute;
  top: -4%;
  left: 0;
}
.in_touch_img {
  width: 100%;
  padding-top: 60px;
}

.get_in_touch-title {
  font-family: "Avenida Std", serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 64px;
  letter-spacing: 0.15em;
  color: #000000;
  width: 100%;
  position: absolute;
  top: 58%;
  transform: translateY(-50%);
  text-align: center;
  z-index: 5;
}
.in_touch-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.in_touch_box {
  position: relative;
  height: 585px;
}
.in_touch_div {
  position: absolute;
  bottom: 22%;
  left: 1.5%;
  z-index: 1;
  text-align: right;
}
.in_touch_div img {
  width: 100%;
  /* height: 100%; */
}
.get_in_touch-text {
  padding-top: 150px;
}
.get_in_touch-text p {
  font-weight: normal;
  font-size: 24px;
  line-height: 54px;
  color: #000000;
  margin-left: 30px;
  margin-right: 30px;
}

.get_in_touch-text a {
  color: #000000;
  text-decoration: none;
}
.get_in_touch-text a:hover {
  color: #000000;
  text-decoration: none;
}
.get_in_touch-text button {
  margin: 30px 0 0 30px;
  width: 240px;
  border: 2px solid #edc536;
  background-color: #ffffff;
  cursor: pointer;
}

.get_in_touch-button {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  padding: 20px;
}

/* Get in touch component end */

/*Start component Partners*/
.partners {
  margin-top: 120px;
}
.new-partners h1 {
  font-family: "Avenida Std", serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 64px;
  letter-spacing: 0.08em;
  color: #000000;
  width: 466px;
  margin: 0 auto;
  padding-bottom: 10px;
  border-bottom: 1px solid #edc536;
}
.partner {
  width: 277px;
  max-width: 100%;
  overflow: hidden;
  height: 126px;
  margin: 0px 60px 120px;
}

/*End component Partners*/

/* Main Menu */
.main-menu {
  width: 779px;
  margin: 150px auto 0px auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px 30px 20px 30px;
}
.main-menu-items a {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 30px;
}
.dropdown a span {
  margin-top: -20px;
}
.main-menu-items img {
  width: 32.2px;
  height: 32px;
  margin-bottom: 10px;
}
.last-item {
  padding-right: 30px;
}
.main-menu-items a {
  font: normal normal 12px Roboto;
  line-height: 14px;
  color: #000000;
}
.dislike {
  padding-left: 0 !important;
}
.like img,
.dislike img {
  width: 32.2px;
  height: 32px;
}
.btn-secondary {
  background-color: transparent !important;
  border: none !important;
}
.btn-secondary:hover {
  color: #000000 !important;
}
.btn-secondary:focus {
  box-shadow: 0 0 0 0 !important;
}
.dropdown-menu {
  width: 223px !important;
  height: 198px !important;
}
.my-drop {
  top: 40px !important;
  border: none !important;
  border-radius: 0 !important;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.my-drop p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  margin: 25px 48px 0 49px;
}
.my-drop::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  left: 30px;
  top: -31px;
  border: 10px solid transparent;
  border-bottom: 20px solid #ffffff;
}
/* End Main Menu */

/* User Profile main part */

.user-image-recatngle {
  position: relative;
  width: 230px;
  height: 230px;
  background: #edc536;
  margin-top: 120px;
  z-index: 1;
}

.user-image-wrapper {
  position: relative;
  z-index: 10;
  margin-top: -170px;
  margin-left: 60px;
}

.user-informText-wrapper {
  margin-top: 212px;
  margin-left: 51px;
}
.user-name-surname {
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.05em;
  color: #000000;
  white-space: nowrap;
}

.send-message-btn {
  width: 240px;
  height: 61px;
  border: 2px solid #edc536;
  text-align: center;
  cursor: pointer;
}

.send-message-btn:hover {
  background: #edc536;
  transition: all 0.5s;
}

.send-message-btn a {
  font-size: 18px;
  line-height: 61px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.send-message-btn a:hover {
  text-decoration: none;
  color: #000000;
}

.dots-wrapper {
  width: 61px;
  height: 61px;
  background: #edc536;
  margin-left: 30px;
  color: #ffffff;
  text-align: center;
  font-size: 30px;
  border: none;
  cursor: pointer;
}

.polygon {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #f0f7fa;

  margin-left: 282px;
}
.dotSittings-rect {
  width: 247px;
  height: 82px;
  background: #ffffff;
  padding: 20px 15px 20px 15px;
  margin-left: 267px;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  z-index: 100;
}
.sitting-text {
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-left: 10px;
}

.sitting-text:hover {
  text-decoration: none;
  color: #000000;
}
/*End User Profile main part */

/* Organization Profile Start */
.org_profile {
  padding: 50px 374px 180px;
}
.org_profile_img {
  position: relative;
  z-index: 10;
  margin-top: 40px;
  margin-left: 50px;
}
.organization_info-wrapper {
  margin-left: 120px;
  padding-top: 170px;
}

.organization_name {
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.05em;
  color: #000000;
  padding-right: 60px;
}
.organization-add_info {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.followers {
  padding-right: 30px;
  margin-bottom: 10px;
}

/* Organization Profile End */

/* Organization profile actions start */
.org-btnsTitle-wrapper h1 {
  font-family: "Avenida Std";
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  /* margin-top: 120px; */
}

/* .links-wrapper{

} */

/* .write-feedback-btn-wrapper{
  width: 240px;
  height: 61px;
  border: 2px solid #EDC536;
  box-sizing: border-box;
  margin-top: 60px;
} */

.write-feedback-btn-wrapper,
.give-idea-btn-wrapper {
  width: 240px;
  height: 61px;
  border: 2px solid #edc536;
  box-sizing: border-box;
  margin: 60px 0 120px;
  text-align: center;
  transition: all ease-in-out 0.5s;
}
.write-feedback-btn-wrapper:hover {
  background: #edc536;
}
.give-idea-btn-wrapper:hover {
  background: #edc536;
}

.or-wrapper {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: lowercase;
  margin-top: 80px;
  margin-left: 30px;
  margin-right: 30px;
}

.feedback-link,
.idea-link {
  font-size: 18px;
  line-height: 61px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.feedback-link:hover {
  text-decoration: none;
  color: #000000;
}
.idea-link:hover {
  text-decoration: none;
  color: #000000;
}

/* Organization profile actions end *


/* About Profiles  */
.profiles-about {
  padding-left: 60px;
  padding-right: 60px;
  margin-bottom: 120px;
}
.about-prof {
  width: 1320px;
  height: 264px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 60px 101px 60px 102px;
  margin: 120px auto;
  position: relative;
  z-index: 1;
}
.about-prof h2 {
  font-family: "Avenida Std";
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}
.about-prof p {
  margin-top: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 31px;
  text-align: center;
}
/* End About Profiles  */

/* Give feedbacks main part (and Give Idea) */

.give-feedbacks-form-wrapper {
  margin-top: 60px;
}
.feedback-title {
  font-family: Avenida Std;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.14em;
  color: #000000;
}

.feedback-title-wrapper {
  margin: 120px auto;
}

.sec-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}
.sec-title-wrapper {
  margin: 30px auto;
  text-align: center;
}

.title-star {
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #ef0d0d;
}
.enter-field-input {
  width: 661px;
  height: 101px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.finded-org-list-item {
  width: 661px;
  height: 61px;
  background: #e8e8e8;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  list-style-type: none;
  line-height: 61px;
  padding-left: 30px;
  cursor: pointer;
}

.links-wrapper {
  display: flex;
  justify-content: center;
  margin: 60px auto;
}
.about-links {
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}
.about-links:hover {
  text-decoration: none;
  color: #000000;
  transition: all 0.3s;
}

.yellow {
  color: #edc536;
}
.yellow:hover {
  color: #edc536;
}

.or {
  margin-left: 30px;
  margin-right: 30px;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  margin-bottom: 60px;
}

.address-title-wrapper {
  text-align: center;
}

.address-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.address-input {
  width: 661px;
  height: 101px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin: 30px auto;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.write-feedback-title-wrapper {
  text-align: center;
}
.write-feedback-title {
  margin-top: 30px;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 30px;
}
.feedbackTextarea {
  background-attachment: local;
  background-image: linear-gradient(to right, white 40px, transparent 10px),
    linear-gradient(to left, white 40px, transparent 10px),
    repeating-linear-gradient(
      white,
      white 50px,
      #ccc 50px,
      #ccc 51px,
      white 51px
    );
  line-height: 51px;
  padding: 20px 40px;
  font-size: 18px;
}

.enter-keywords-title-wrapper {
  margin-top: 60px;
  text-align: center;
}

.enter-keywords-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.keywords-input {
  width: 661px;
  height: 101px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin: 30px auto;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.keywords-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 661px;
  margin: 0 auto;
}

.my-keyword {
  width: 183px;
  height: 61px;
  padding: 20px;
  text-align: center;
  background: #edc536;
  cursor: pointer;
  margin: 0.5rem;
}

.keyword-text {
  font-size: 18px;
  color: #000000;
}
.btns {
  width: 186px;
  height: 80px;
  border: none;
  text-align: center;
  line-height: 80px;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  background: #ffffff;
}

.buttons-wrapper {
  margin-top: 70px;
  height: 81px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.selected-btn {
  margin-top: -10px;
  width: 168px;
  height: 101px;
  background: #edc536;
  border: none;
  text-align: center;
  line-height: 80px;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.confirm-cancel-wrapper {
  margin: 130px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.confirm-wrapper {
  text-align: center;
  width: 240px;
  height: 61px;
  border: 2px solid #edc536;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}
.confirm-wrapper:hover {
  background: #edc536;
  color: #ffffff;
  text-decoration: none;
}

.confirm-wrapper a {
  font-size: 18px;
  line-height: 61px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.confirm-wrapper a:hover {
  color: #ffffff;
  text-decoration: none;
}

.cancel-wrapper a {
  font-size: 18px;
  line-height: 61px;
  text-align: center;
  text-decoration-line: underline;
  color: #edc536;
  margin-left: 30px;
}

.cancel-wrapper a:hover {
  text-decoration: none;
  color: #edc536;
}

/* Give feedbacks main part END*/

/* Give Ideas */

.give-ideas {
  padding-top: 9;
}
.give-ideas h2 {
  margin-top: 90px;
  margin-bottom: 30px;
  text-align: center;
  font: normal normal 48px Avenida Std;
  line-height: 28px;
  letter-spacing: 0.14em;
}
.give-title {
  font: normal normal 24px Roboto;
  line-height: 28px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.required {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #ef0d0d;
}
.organizations {
  width: 661px;
  height: 101px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border: none;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 60px;
}

.product-service span:first-child {
  margin-left: 30px;
  margin-right: 30px;
}
.product-service span:last-child {
  color: #edc536;
}
.adress,
.keyword {
  width: 661px;
  height: 101px;
  background: #ffffff;
  border: none;
  margin-bottom: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding-left: 60px;
}
.parent-notes {
  width: 661px;
  margin: 0 auto;
  margin-bottom: 30px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 30px 60px;
}
.notes {
  width: 541px;
  height: 300px;
  resize: none;
  border: none;
  background-image: -webkit-linear-gradient(
    white,
    white 30px,
    #000000 30px,
    #000000 31px,
    white 31px
  );
  background-image: -moz-linear-gradient(
    white,
    white 30px,
    #000000 30px,
    #000000 31px,
    white 31px
  );
  background-image: -ms-linear-gradient(
    white,
    white 30px,
    #000000 30px,
    #000000 31px,
    white 31px
  );
  background-image: -o-linear-gradient(
    white,
    white 30px,
    #000000 30px,
    #000000 31px,
    white 31px
  );
  background-image: linear-gradient(
    white,
    white 30px,
    #000000 30px,
    #000000 31px,
    white 31px
  );
  background-size: 100% 60px;
  border-radius: 8px;
  overflow: hidden;
  font-family: Arial, Helvetica, Sans-serif;
  padding: 8px;
}
.telecom {
  width: 183px;
  height: 61px;
  background: #edc536;
  font: normal normal 18px Roboto;
  line-height: 21px;
  border: none;
  margin-left: 344px;
  margin-bottom: 60px;
}
.confirm_cancel {
  margin-top: 60px;
  margin-bottom: 120px;
}
.confirm-button,
.cancel-button {
  padding: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  background-color: transparent;
  width: 240px;
  height: 61px;
}
.confirm-button {
  border: 2px solid #edc536;
  color: #000000;
}
.cancel-button {
  color: #edc536;
  border: none;
}

/* End Give Ideas */

/* Get Ideas First Part Start */

.enter_field-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  padding-bottom: 30px;
}
.enter_field-wrapper {
  /* margin: 30px auto; */
  text-align: center;
}

.title-star {
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #ef0d0d;
}
.enter-field-input {
  width: 661px;
  height: 101px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  border: none;
  padding-left: 60px;
}
.ideas-list-item {
  background: #e8e8e8;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  list-style-type: none;
  padding: 17px 30px;
  cursor: pointer;
  text-align: left;
}
.keywords-box {
  margin-top: 22px;
}
.keyword-items {
  width: 661px;
  display: flex;
  flex-wrap: wrap;
  justify-items: start;
}
.keyword-item {
  font-size: 18px;
  padding: 20px;
  margin-left: 0 !important;
  text-align: center;
  color: #000000;
  background: #edc536;
  cursor: pointer;
  margin: 0.5rem;
}
.confirm-button:hover {
  background: #edc536;
  transition: all 0.3s;
}

/* Get Ideas Part One End */

/* Get Ideas Second Part Start */
.getIdea_main {
  padding-left: 35px;
  padding-right: 35px;
}
.getIdea_box {
  width: 640px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 60px;
}
.getIdea-title {
  margin: 120px auto;
}
.getIdea-title h2 {
  font-family: "Avenida Std";
  font-size: 48px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.14em;
  color: #000000;
}
.getIdea_inner {
  margin: 60px 30px 0px 60px;
}
.getIdea_name {
  padding: 0px 30px;
}
.getIdea_inner-content {
  font-size: 18px;
  font-weight: normal;
  line-height: 31px;
  text-align: justify;
  color: #000000;
  padding: 30px 60px;
}
.getIdea_arrow {
  text-align: end;
  margin-bottom: 20px;
}
.getIdea_pagination {
  font-size: 24px;
  line-height: 31px;
  letter-spacing: 0.14em;
  color: #edc536;
  margin: 80px 0px 100px;
}
.getIdea_pagination-item {
  color: #edc536;
  padding: 3px;
}
.getIdea_pagination-item.active {
  color: #edc536;
  font-weight: bold;
}
.getIdea_pagination-item:hover {
  text-decoration: none;
  color: #edc536;
  background-color: rgb(240, 240, 226);
}

/* Get Ideas Second Part End */

/* Profile Click Start */

.profileClick {
  width: 1440px;
  height: 706px;
  background: rgba(0, 0, 0, 0.8);
}
.profileClick_logo {
  margin: 20px 45px;
}
.profileClickButtons {
  height: 460px;
}
.profileButtons-wrapper {
  padding: 0 135px;
}
.profileButton {
  width: 240px;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  padding: 20px;
  cursor: pointer;
  border: 2px solid #edc536;
  box-sizing: border-box;
  background: none;
}
.profileClickButtons button:hover {
  background: #edc536;
  transition: all 0.3s;
}
/* Profile Click End */

/* Sign In Page Start */

.signIn_title {
  font-family: Avenida Std;
  font-size: 36px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.145em;
  text-transform: uppercase;
  color: #edc536;
  padding: 60px 0 30px;
}
.signIn_input {
  width: 560px;
  height: 90px;
  /* background: #edc536; */
  background: none;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #ffffff;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.signIn_form {
  text-align: center;
}
.account_recover {
  margin: 30px 0;
}
.account_recover a {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #edc536;
  border-bottom: 1px solid #edc536;
}
.account_recover a:hover {
  color: #edc536;
  text-decoration: none;
}
.signIn-wrapper {
  width: 100%;
}
.signIn-wrapper button:hover {
  background: #edc536;
  transition: background 0.4s;
}

/* Sign In Page End */

/* Sign Up page */
.signup-wrapper {
  background: url(../images/signup-bg.png);
  width: 100%;
}

.signup-title {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.145em;
  color: #edc536;
}
.idea-generator-wrapper {
  display: flex;
  align-items: center;
  margin-top: 60px;
  justify-content: center;
}
.or-span {
  color: #ffffff;
  font-size: 24px;
}
.idea-links {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
  color: #ffffff;
  margin: 5px;
}
.idea-links:hover {
  text-decoration: none;
  color: #ffffff;
}

.yellow-link {
  color: #edc536;
}
.yellow-link:hover {
  color: #edc536;
}

.signup-input-wrapper {
  width: 560px;
  margin-top: 60px;
  text-align: center;
}
.signup-input {
  width: 560px;
  background: none;
  font-size: 18px;
  text-align: center;
  line-height: 18px;
  letter-spacing: 0.1em;
  color: #ffffff;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  margin-bottom: 60px;
}
.signup-input:last-child {
  margin-bottom: 30px;
}
.signup-input::placeholder {
  color: #ffffff;
  text-transform: uppercase;
}

.signup-policy-text {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;

  text-align: center;
  letter-spacing: 0.1em;

  color: #ffffff;
}

.signup-policy-link {
  color: #edc536;
  text-decoration: none;
}
.signup-policy-link:hover {
  color: #edc536;
  text-decoration: none;
}

.signup-button-wrapper {
  text-align: center;
}
.signup-button {
  width: 240px;
  height: 61px;
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: transparent;
  border: 2px solid #edc536;
  box-sizing: border-box;
  margin-top: 30px;
  transition: 0.5s;
}
.signup-button:hover {
  background: #edc536;
}

.middle-text {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.14em;
  text-transform: lowercase;
  color: #ffffff;
  margin-top: 30px;
}

.social-text {
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  margin-right: 30px;
}

.social-buttons-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-logos {
  width: 55px;
  height: 55px;
  margin: 10px;
}

.have-account-text {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.1em;
  text-decoration-line: underline;
  color: #edc536;
}
.have-account-wrapper {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 77px;
}

.have-account-text:hover {
  text-decoration-line: underline;
  color: #edc536;
}
/* Sign Up page  END*/

/* Main part of Followers  */
.followers-title-wrapper {
  padding-top: 120px;
}
.followers-title {
  font-family: Avenida Std;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.14em;
  color: #000000;
}

.followers-count-wrapper {
  margin-top: 60px;
  text-align: center;
}
.follower-card {
  margin-left: 60px;
  margin-top: 60px;
}

.followers-count {
  font-size: 24px;
  line-height: 31px;
  color: #edc536;
}

.follower-name {
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}
/* Main part of Followers  END*/

/* Main part of Organizations */

.ideaGenerators-card-wrapper {
  width: 780px;
  margin: 0 auto;
}
.org-title-wrapper {
  padding-top: 60px;
  text-align: center;
}
.org-title {
  font-family: Avenida Std;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.08em;
  color: #000000;
}

.select-orgs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 292px;
  height: 41px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  margin: auto;
  margin-top: 60px;
}

.org-transparent-image {
  width: 292px;
  height: 279px;
  background: linear-gradient(
    180deg,
    rgba(235, 235, 235, 0.955729) 0%,
    rgba(255, 255, 255, 0.6) 73.96%
  );
  position: absolute;
  left: 50%;
  z-index: 10;
  margin-left: -146px;
}
.select-icon {
  margin-right: 20px;
  width: 15px;
  height: 15px;
  margin-top: 13.5px;
}
.select-title {
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-left: 20px;
  cursor: pointer;
}
.select-list {
  position: absolute;
  left: 43%;
  z-index: 16;
  margin-top: 30px;
  margin-left: 30px;
}
.category-list-item {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  border: none;
  list-style-type: none;
  margin-top: 8px;
  cursor: pointer;
}

.org-card {
  position: relative;
  z-index: 1;
  margin-left: 60px;
  margin-top: 120px;
  /* margin: 120px; */
}

.hover-btn {
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  background: #edc536;
  color: #ffffff;
  width: 137px;
  height: 50px;
  text-align: center;
  border: none;
  position: relative;
  z-index: 3;
  top: -200px;
  left: 68px;
}

.organizations-card-wrapper {
  width: 1000px;
  margin: 0 auto;
  flex-wrap: wrap;
}
/* Main part of Organizations END*/

/* Feedbacks styling START*/
.feedbacks-title-wrapper {
  margin: 0px 0px 120px;
  padding-top: 120px;
}
.feedbacks-title {
  padding-top: 120px;
  font-family: Avenida Std;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: #000000;
}
.feedbacks-buttons-wrapper {
  width: 558px;
  height: 81px;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.btn-selected {
  margin: -10px;
  width: 168px;
  height: 101px;
  background: #edc536;
  border: none;
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  transition: all 0.5s;
}
.btn-non_selected {
  width: 150px;
  height: 70px;
  border: none;
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  background: #ffffff;
}
.right_angle {
  font-size: 48px;
  color: #edc536;
  padding: 0px 15px;
}
.links-wrapper {
  margin: 70px 0px;
}
.span_between {
  width: 60px;
}
.feedback_box {
  width: 645px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 60px;
}
.feedback-card {
  margin-left: 60px;
  margin-top: 60px;
}
/* Feedbacks styling END*/

/*All Sittings */
.logOut-btn {
  width: 240;
}
.sittings-section {
  width: 368px;
  margin-top: 30px;
}
.section-btn {
  width: 368px;
  height: 58px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.section-btn-text {
  font-size: 24px;
  line-height: 58px;
  color: #000000;
  margin-left: 30px;
  margin-top: 15px;
  cursor: pointer;
}
.section-vector-img {
  width: 22px;
  height: 13px;
  margin-right: 30px;
  transform: rotate(270deg);
}
.section-sub-wrapper {
  text-align: center;
}

/* password sittings */

.sub-password-input {
  border: none;
  width: 348px;
  border-bottom: 1px solid #000000;
  margin: 0 auto;
  margin-top: 30px;
}
.sub-password-input::placeholder {
  font-size: 14px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.7);
}

.pass-save-btn {
  width: 240px;
  height: 61px;
  background: #ffffff;
  margin: 0 auto;
  margin-top: 60px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  border: 2px solid #edc536;
  box-sizing: border-box;
  transition: all ease-in-out 0.5s;
}

.pass-save-btn:hover {
  background: #edc536;
  color: #ffffff;
}

/* password sittings End*/

/* General Sittings */

.general-sittings-textarea {
  width: 460px;
  height: 181px;
  padding: 20px 15px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin-left: -45px;
  margin-top: 60px;
}
.general-sittings-textarea::placeholder {
  font-size: 18px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.25);
}
/* General Sittings End*/

/* Subscription */
.current-plan {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-top: 60px;
}
/* Subscription END*/

/*All Sittings END*/

/* Reasons START */
.reasons-wrapper {
  padding-top: 120px;
}
.reason-header h1 {
  font-family: "Avenida Std";
  font-weight: normal;
  font-size: 48px;
  line-height: 28px;
  letter-spacing: 0.08em;
  color: #000000;
  margin: 60px auto;
}
.reasons-subheader h2 {
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  margin-bottom: 60px;
}
.reason label {
  margin: 0;
}
.reasons {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 20px;
}
.reasons label input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
.reasons label i {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 5px solid black;
  margin-right: 10px;
  cursor: pointer;
}
.reasons label input:checked ~ i {
  background: #000000;
}
.reasons-textarea {
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border: none;
  margin-top: 30px;
}
.submit-wrapper {
  margin: 60px 0 120px;
}

/* Reasons END */

/* Messaging component */
.message-sidebar {
  width: 100%;
  height: 756px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding-top: 60px;
  margin-top: 120px;
}

.message-user-img-wrapper {
  text-align: center;
}
.message-user-img {
  width: 105px;
  height: 105px;
}

.messages-wrapper {
  width: 100%;
  height: 704px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding-top: 60px;
  padding-left: 60px;
  padding-right: 60px;
  overflow: auto;
  margin-top: 120px;
}

.message-user-name {
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}
.message-user-name-undeline {
  width: auto;
  height: 0px;
  border: 1px solid #000000;
}
.messages-today {
  margin-top: 120px;
}

.left-line,
.right-line {
  width: 100%;
  height: 0px;
  border: 1px solid #edc536;
}

.today-message-title {
  font-size: 18px;
  line-height: 31px;
  color: #edc536;
  text-transform: uppercase;
  margin-left: 30px;
  margin-right: 30px;
}
.messages-content {
  margin-top: 10px;
}

/* Message content */
.message {
  width: 100%;
  height: auto;
  background: #edc536;
  padding: 0.3rem;
}
.message-triangle-img {
  margin-left: 70%;
  margin-top: -10px;
}

.message-text {
  margin-top: 10px;
  font-size: 18px;
  color: #000000;
  text-align: center;
}

.write-message-content {
  position: absolute;
  bottom: 0;
}

.send-message-wrapper {
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
.write-message-input {
  width: 100%;
  height: 51px;
  background: #f4f4f4;
  border: none;
  padding-left: 0.8rem;
}

.write-message-btn {
  width: 100%;
  height: 51px;
  font-size: 18px;
  line-height: 51px;
  text-align: center;
  color: #ffffff;
  background: #edc536;
  border: none;
  cursor: pointer;
}

/* Open mini chat */
/* .mini-chat-wrapper {
} */
.mini-chat-title-wrapper {
  width: 300px;
  height: 45px;
  background: #edc536;
  padding: 12px;
}
.mini-chat-title {
  font-size: 18px;
  color: #000000;
  cursor: pointer;
}

.mini-chat-close-icon {
  cursor: pointer;
}
.mini-chat-message-content {
  height: 300px;
  overflow: auto;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.mini-chat-message-list {
  padding-top: 10px;
}
.mini-chat-message-item {
  width: 60%;
  padding: 0.3px;
  background: #edc536;
  margin: 0.2rem;
  text-align: center;
}
.mini-chat-message-text {
  font-size: 16px;
  color: #000000;
}
.mini-chat-send-message-wrapper {
  width: 300px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.mini-chat-message-input {
  width: 70%;
  background: #f4f4f4;
  border: none;
  height: 38px;
  padding-left: 6px;
  padding-right: 6px;
}

.mini-chat-send-message-btn {
  width: 30%;
  background: #edc536;
  border: none;
  height: 38px;
  text-align: center;
  color: #000000;
  line-height: 38px;
}
.mini-chat-send-message-btn:hover {
  color: #ffffff;
}

/* Messaging component END*/

/* Navigation Page START */
/* Burger menu START*/
.menu-btn {
  display: block;
  color: #ffffff;
  position: absolute;
  width: 50px;
  height: 50px;
  font-size: 0;
  background: none;
  border: none;
  cursor: pointer;
}
.menu-btn:focus {
  outline: none;
}
.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
  display: block;
  position: absolute;
  width: 40px;
  height: 3px;
  background-color: #ffffff;
}
.menu-btn span::before,
.menu-btn span::after {
  content: "";
  position: absolute;
  display: block;
  transition: 0.3s;
}
.menu-btn span::before {
  transform: translateY(-8px);
}
.menu-btn span::after {
  transform: translateY(8px);
}
.is-active span {
  height: 0;
}
.is-active span:before {
  transform: rotate(-40deg);
}
.is-active span:after {
  transform: rotate(40deg);
}

/* Burger menu end */
.searchForm {
  margin-top: 120px;
  position: relative;
}
.searchForm label i {
  background: url(../images/search.png);
  position: absolute;
  top: 3px;
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.search-btn {
  position: absolute;
  top: 30%;
}
.search-field {
  width: 300px;
  height: 30px;
  background: none;
  border: none;
  padding: 0 0 10px 30px;
  color: #ffffff;
  border-bottom: 1px solid #edc536;
}
.navLinks-wrapper {
  margin-top: 40px;
  margin-bottom: 60px;
}
.navLinks-wrapper ul,
.language-wrapper ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navLinks-wrapper ul li,
.language-wrapper ul li {
  display: inline-block;
  list-style: none;
}
.nav-link {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
  transition: all 0.3s;
}
.nav-link:hover,
.language-link:hover {
  text-decoration: none;
  color: #edc536;
}
.language-link {
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}
.selected {
  color: #edc536;
}
.v-line hr {
  width: 28px;
  height: 0px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  transform: rotate(90deg);
  margin: 0 -10px !important;
}

/* Navigation Page END */

/* Styles for Genaral burger menu */
.position-realtive {
  position: relative;
  z-index: 1;
}

.postition-obsolute {
  position: absolute;
  z-index: 150;
  width: 100%;
  height: 100%;
  top: 87px;
  left: 0;
  right: 0;
  bottom: 0;
}

/* ========= MEDIA ========== */
@media screen and (max-width: 1330px) and (min-width: 900px) {
  .pricing-price-num {
    right: 30%;
  }
}
@media screen and (max-width: 767px) {
  .header-logo-wrapper {
    width: 150px;
    cursor: pointer;
  }
  .header-logo-wrapper img {
    width: 100%;
  }
  .info {
    padding-top: 100px;
  }
  .profileClickButtons {
    height: 360px;
  }
  .navLinks-wrapper ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
/* @media screen and (max-width:766px) and (min-width:576px) {
  .header-logo-wrapper img {
    width: 100%;
  }
} */

@media screen and (max-width: 575px) and (min-width: 375px) {
  .header {
    height: 60px;
  }
  .header-logo-wrapper,
  .profileClick_logo {
    width: 74px;
    padding-top: 10px;
    cursor: pointer;
    margin-left: 10px;
  }
  .header-wrapper {
    height: 60px;
    margin-right: 0px;
  }
  .header-profile-logo-wrapper {
    display: none;
  }
  .header-logos {
    width: 50% !important;
  }
  .header-burger {
    cursor: pointer;
    padding-top: 0;
  }
  .header-menu {
    width: 40% !important;
  }
  .header-menu-btn span,
  .header-menu-btn span::before,
  .header-menu-btn span::after,
  .menu-btn span,
  .menu-btn span::before,
  .menu-btn span::after {
    width: 25px;
}
  /* About Us Page - Info component */
  .info {
    padding-top: 50px;
  }
  .image_content {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    margin-bottom: 60px;
  }
  .image_content img {
    height: 90%;
  }
  .inner-title {
    font-size: 24px;
    line-height: 14px;
    letter-spacing: 0.08em;
    transform: translateY(-50%);
    text-align: center;
  }
  .info_description-title,
  .get_in_touch-title {
    font-size: 18px;
    line-height: 8px;
    text-align: center;
  }

  .info_description-text {
    padding: 20px 55px 30px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 148.19%;
    text-align: center;
  }
  /* In-Touch component */
  .about_line {
    position: absolute;
    top: -4%;
    left: 0;
  }
  .in_touch img:first-child {
    width: 100%;
  }
  .in_touch img:nth-of-type(2) {
    width: 35%;
  }
  .in_touch_img {
    padding-top: 60px;
  }

  .get_in_touch-title {
    position: absolute;
    top: 57%;
    z-index: 5;
  }
  .in_touch-content {
    width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
  }
  .in_touch_div {
    position: absolute;
    bottom: 22%;
    left: -2%;
    z-index: 1;
    text-align: right;
  }
  .in_touch .in_touch_div img {
    width: 100%;
    height: 106%;
  }
  .get_in_touch-text {
    padding-top: 42px;
    padding-bottom: 30px;
    padding-left: 0 !important;
    padding-right: 0 !important;
    position: absolute;
    left: -12%;
  }
  .get_in_touch-text p {
    font-size: 12px;
    line-height: 20px;
    margin: 0 0 20px 30px;
  }
  .get_in_touch-text button {
    margin-left: 30px;
    margin-top: 0;
    width: 102px;
    border: 1px solid #edc536;
    background-color: #ffffff;
    cursor: pointer;
  }
  .get_in_touch-button {
    font-size: 10px;
    line-height: 12px;
    padding: 10px 20px;
  }
  /* Footer component */
  .footer-links-wrapper {
    width: 44% !important;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 20px;
    text-align: left;
    padding-right: 0 !important;
  }
  .footer-links-wrapper ul {
    display: grid;
    grid-template-columns: 70px 70px;
    grid-template-rows: repeat(3, 16px);
    grid-row-gap: 10px;
    grid-column-gap: 30px;
  }
  .footer-links-wrapper ul li {
    display: inline-block;
    list-style: none;
  }
  .footer-links-wrapper ul li .footer-link {
    font-size: 14px;
    line-height: 16px;
  }

  .footer-links-wrapper ul li .footer-link:hover {
    text-decoration: none;
  }
  .flex-container {
    width: 46% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    /* height: 311px; */
    margin-bottom: 30px;
    margin-top: 20px;
    margin-right: 20px;
  }
  .footer-social-icons-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .footer-icon {
    width: 27px;
    height: 26px;
    margin-bottom: 10px;
    margin-right: 5px;
  }
  .footer-icon img {
    width: 100%;
  }
  .footer-contacts {
    margin: 0;
  }
  .footer-address {
    margin-bottom: 0;
  }
  .footer-contacts h2 {
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    margin-bottom: 0;
  }
  .footer-line2 {
    width: 234px;
    height: 0px;
    margin: 0 auto;
    border: 1px solid #edc536;
  }

  .footer-privacy {
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    padding-top: 10px;
    text-decoration-line: underline;
    color: #edc536;
  }
  .footer-privacy p {
    margin-bottom: 10px;
  }

  .footer-innovities {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.13em;
    color: #edc536;
    margin-bottom: 20px;
  }

  /* responsive Sign IN Page */

  .idea-generator-wrapper {
    max-width: 184px;
  }
  .signIn_form {
    display: flex;
    flex-direction: column;
  }
  .signIn_input {
    max-width: 173px;
    font-size: 10px;
    line-height: 12px;
    height: 30px;
  }
  .idea-links {
    font-size: 14px;
    white-space: nowrap;
  }
  .profileButton {
    width: 101px;
    height: 32px;
    font-size: 10px;
    line-height: 2px;
    text-align: center;
    text-transform: uppercase;
  }
  .signIn_title {
    font-size: 24px;
    line-height: 14px;
    padding: 60px 0 10px 0;
  }
  .account_recover {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.1em;
  }
  .idea-generator-wrapper {
    display: flex;
    margin: auto;
    margin-top: 30px;
  }
  .social-text {
    font-size: 12px;
    line-height: 14px;
    text-align: center;
  }
  .social-logos {
    width: 55px;
    height: 55px;
  }
  /* responsive Sign IN Page END*/
  /* responsive Sign UP*/
  .signup-title {
    font-size: 24px;
    line-height: 14px;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 60px;
  }
  .signup-input-wrapper {
    display: flex;
    flex-direction: column;
  }
  .signup-input {
    max-width: 173px;
    font-size: 10px;
    line-height: 12px;
    height: 30px;
    margin: auto;
    margin-top: 30px;
  }
  .signup-input:first-of-type {
    margin-top: -30px;
  }
  .signup-button {
    width: 101px;
    height: 32px;
    font-size: 10px;
    line-height: 12px;
  }
  .middle-text {
    font-size: 12px;
    text-transform: uppercase;
  }
  .have-account-text {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.1em;
  }

  /* ===== Profile Click ========= */

.profileClickButtons {
  height: 64px;
}
.profileButtons-wrapper {
  padding: 0 135px;
  margin-top: 30px;
}
.profileButton {
  width: 101px;
  font-size: 10px;
  line-height: 12px;
  padding: 10px 20px;
  text-align: center;
  border: 1px solid #edc536;
  flex-shrink: 0;
  /* flex-grow: 0; */
}

/*  ====== Navigation Page ======= */

.searchForm {
  margin-top: 60px;
}
.searchForm label i {
  background: url(../images/search.png);
  background-size: contain;
  top: 9px;
  width: 15px;
  height: 15px;
}
/* .search-btn {
  position: absolute;
  top: 30%;
} */
.search-field {
  width: 150px;
  height: 30px;
  padding: 5px 0 0 25px;
  font-size: 12px;
}
.navLinks-wrapper {
  margin-top: 50px;
  margin-bottom: 60px;
}
.navLinks-wrapper ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* **** PRICING RESPONSIVE */
/* Pricing page start */
.pricing-rectangle { /* ++ */
  background-size: 35%;
}
.image_content_pricing {
  margin-top: 50px;
  margin-bottom: 80px;
}
.image_content_pricing img {
  width: 94%;

}
.pricing-idea-text {
  width: 200px;
  font-size: 18px;
  line-height: 8px;
  padding-bottom: 10px;
}
.pricing-center-rectangle {
  width: 158px;
  height: 243px;
  margin-top: 30px;
}
.pricing-free {
  font-size: 18px;
  line-height: 8px;
  width: 91px;
  padding: 30px 0 9px;
}
.pricing-list-item {
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 10px;
}

.pricing-list-wrapper {
  margin-top: 30px;
}
.pricing-price {
  margin-top: 30px;
}
.pricing-price-usd {
  font-size: 12px;
  line-height: 14px;  
}
.pricing-price-num {
  font-size: 24px;
  line-height: 28px;
  top: 0;
  right: 27%;
}
.pricing-subscribe-btn {
  background: #edc536;
  width: 98px;
  height: 34px;
  margin-top: 41px;
}
.pricing-btn-text {
  font-size: 12px;
  line-height: 14px;
}
.for_ideas, .for_org {
  margin-bottom: 60px;
}
/* Pricing Page end */
}
